<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rosense.dao.app.UserMapper">
    <select id="getSomeUser" resultType="java.util.Map">
        <![CDATA[
            select  *
            from wo_list
            limit 2
        ]]>
    </select>


    <select id="getBack" resultType="java.util.Map">
        select distinct(id), wo_no as orderId, wo_type as orderType, wo_day as dateTime, user_city as cityAdmin,
        user_quyu as areaAdmin, scenename, sceneId, user_pro, quyu_name, wo_day, wo_month,
        sceneoid, abnormaltype, provinceid, cityid, districtid, network
        from ads_zhw_wxcps_zdcj_fbadscene_m_inc
        where 1=1
        <if test="provinceId != null">
            and provinceid = #{provinceId}
        </if>
        <if test="cityId != null">
            and cityid = #{cityId}
        </if>
        <if test="lastTime != null and lastTime != ''">
            and wo_month = #{lastTime}
        </if>
        <if test="networkType != null and networkType != ''">
            and network = #{networkType}
        </if>
        order by id
    </select>


</mapper>
