<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rosense.dao.app.UserMapper">
    <select id="getSomeUser" resultType="java.util.Map">
        <![CDATA[
            select  *
            from wo_list
            limit 2
        ]]>
    </select>


    <select id="getBack" resultType="java.util.Map">
        select *
        from ads_zhw_wxcps_zdcj_fbadscene_m_inc
        where 1=1
        <if test="pId != null">
            and  pid = #{pId}
        </if>
        
        order by id
    </select>

	<select id="getUserByRole" resultType="com.rosense.bean.User">
        <![CDATA[
            select  *
            from my_user t
            where  u_role='#{paramRole}'
        ]]>
    </select>

</mapper>
